* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(41, 41, 41);
  color: white;
}

nav {
  background-color: rgb(16, 10, 41);
  color: white;
  padding: 1rem;

  a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5rem;
  }

  display: flex;
  gap: 1rem;
}

.current {
  background-color: rgba(206, 56, 56, 0.432);
}

.container {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
}
